// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//color logo
$logo__color-top:#0058B5;
$logo__color-bottom:#F7CE00;

//default text color
$primary__text--color:#21243D;

//heshtag color
$primary__heshtag--color:#8695A4;

//caunt bg color
$caunt__bg--color:#142850;

//border color
$autor__border--color:#E0E0E0;

//active page (nav)
$is-active__color:#FF6464;

//privary nav color
$primary__nav--color:#000;

//link color 
$link__viev-all:#00A8CC;

//bg latest news container
$bg__latest--news:#EDF7FA;

//bg card latest news white color
$bg__card--latest-news:#fff;




